.container{
  max-width: 80%;
  margin: 0 auto;
}
.red{
  color: red;
}
.yellow{
  color: yellow;
}
.gray{
  color: gray;
  font-style: italic;
}
.green {
  color: green;
}
.list-cnt {
  margin-top: 50px;
  text-align: center;
  
}
.title {
  text-align: center;
}